<footer class="footer_wrapper" *ngIf="showFooter">
    <nav class="footer_nav">
        <ul class="footer_links_list">
            <li><span>ABOUT</span></li>
            <li><span>HELP</span></li>
            <li><span>PRESS</span></li>
            <li><span>API</span></li>
            <li><span>JOBS</span></li>
            <li><span>PRIMARY</span></li>
            <li><span>TERMS</span></li>
            <li><span>LOCATION</span></li>
            <li><span>TOP ACCOUNTS</span></li>
            <li><span>HASHTAG</span></li>
            <li><span>LANGUAGE</span></li>
        </ul>
    </nav>
    <span class="footer_info">© 2020 INSTAGRAM-CLONE</span>
</footer>