:root{
    --border-color: #dbdbdb;
    --block-background-color: white;
    --main-background-color: #fafafa;
    --active-background: #efefef;
    --main-text-color:#262626;
    --secondary-text-color:#8e8e8e;
    --link-text-color: #00376b;
    --action-color: #0095f6;
}