<section class="content_wrapper">
    <div class="content">
        <div class="element" *ngFor="let post of posts; let i=index">
            <div class="element_image" [ngStyle]="{'backgroundImage': 'url('+post.photos[0]+')'}"></div>
            <div class="info_post_container">
                <button class="info_post" [routerLink]="[ '/profile/saved', post.id, post.idPost]" type="button">
                    <div class="info_post_likes">
                        <div [ngStyle]="{'backgroundImage': 'url(../../../../assets/images/collection-icons.png)'}"></div>
                        <span>{{post.likesCount}}</span>
                    </div>
                    <div class="info_post_comments">
                        <div [ngStyle]="{'backgroundImage': 'url(../../../../assets/images/collection-icons.png)'}"></div>
                        <span>{{post.commentsCount}}</span>
                    </div>
                </button>
            </div>
            <div class="group_icon" *ngIf="!postHasOnePhoto(post)"></div>
        </div>
        <p class="empty_list" *ngIf="postsEmpty">Not have saved any post yet</p>
    </div>
</section>
<app-preloader *ngIf="showPreloader"></app-preloader>

<router-outlet></router-outlet>